.home {
  background-color: #98ff98;
}

.home-container{
  display:flex;
  
}

h1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: 0.02em;
  margin-left: 2em;
  margin-top: 2em;
 
}


.content-home{
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 4em;
  margin-right: auto;
  max-width: 24em;
  margin-bottom:5em;
}











.my-portrait{
float: right;
margin-right: 20em;
margin-bottom: 15em;
}

.contact-button {
  font-size: 1.75rem;
  font-family: Arial;
  float: right;
  margin-right: 6em;
  border-width: 1px;
  color: #fff;
  border-color: rgba(152, 152, 255, 1);
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  text-shadow: -4px 1px 22px rgba(177, 177, 177, 1);
  background: rgba(152, 152, 255, 1);
// 
}



.contact-button {
  background-color: #9898ff;
  margin-right: 7em;
  border-radius: 8px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  text-shadow: 0px 1px 2px #000000;

 
}


.contact-button:hover {
  background: rgba(150, 150, 252, 0.79);
}

